@page "/SupportedAlgorithms"
@using BouncyHsm.Client
@inject IBouncyHsmClient bouncyHsmClient

<PageTitle>Supported algorithms</PageTitle>

<h1>Supported algorithms</h1>

<p>List with actual supported mechanisms and eliptic curves.</p>

<h2>Mechanisms</h2>

@if (this.mechanisms == null)
{
    <BouncyHsm.Spa.Shared.Common.LoadingIndicator />
}
else
{
    @if (this.profileName != null)
    {
        <div class="alert @* alert-success *@ alert alert-warning mt-1 mb-3" role="alert">
            <h4 class="alert-heading">Profile: @this.profileName</h4>
            <p>
                The list of supported mechanisms was modified using the configuration in the <strong>@this.profileName</strong> profile.<br />
                If you want to use <a href="https://github.com/harrison314/BouncyHsm/blob/main/Doc/SuportedAlgorithms.md" target="_blank">all mechanisms</a> provided by BouncyHsm, disable the profile in the configuration.
            </p>
        </div>
    }

    <table class="table table-responsive-md table-striped table-bordered">
        <thead>
            <tr>
                <th>Mechanism</th>
                <th>Min. key size</th>
                <th>Max. key size</th>
                <th>Digest</th>
                <th>Sign, Verify</th>
                <th>Derive</th>
                <th>Encrypt, Decrypt</th>
                <th>Generate key pair</th>
                <th>Generate key</th>
                <th>Wrap, Unwrap</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MechanismInfoDto mi in this.mechanisms)
            {
                <tr>
                    <td class="code">@mi.MechanismType</td>
                    <td class="text-end">@mi.MinKeySize</td>
                    <td class="text-end">@mi.MaxKeySize</td>
                    <td class="text-center">@ShowFlag(mi.Flags.Digest)</td>
                    <td class="text-center">@ShowFlag(mi.Flags.Sign, mi.Flags.Verify)</td>
                    <td class="text-center">@ShowFlag(mi.Flags.Derive)</td>
                    <td class="text-center">@ShowFlag(mi.Flags.Encrypt, mi.Flags.Decrypt)</td>
                    <td class="text-center">@ShowFlag(mi.Flags.GenerateKeyPair)</td>
                    <td class="text-center">@ShowFlag(mi.Flags.Generate)</td>
                    <td class="text-center">@ShowFlag(mi.Flags.Wrap, mi.Flags.Unwrap)</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Elitic curves</h2>

    @if (this.curves == null)
    {
        <BouncyHsm.Spa.Shared.Common.LoadingIndicator />
    }
    else
    {
        <table class="table table-responsive-md table-striped table-bordered">
            <thead>
                <tr>
                    <th>Kind</th>
                    <th>Curve</th>
                    <th>OID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (EcCurveInfoDto cr in this.curves)
                {
                    <tr>
                        <td>@cr.Kind</td>
                        <td>@cr.Name</td>
                        <td class="fst-italic">@cr.Oid</td>
                    </tr>
                }
            </tbody>
        </table>
    }

}

@code {
    private IList<MechanismInfoDto>? mechanisms = null;
    private string? profileName = null;
    private IList<EcCurveInfoDto>? curves = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        MechanismProfileDto profileInfo = await this.bouncyHsmClient.GetMechanismAsync();
        this.mechanisms = profileInfo.Mechanisms.ToList();
        this.profileName = profileInfo.ProfileName;

        await Task.Yield();
        this.curves = await this.bouncyHsmClient.GetSupportedEcCurvesAsync();
    }

    private string ShowFlag(bool enabled)
    {
        return enabled ? "✓" : " ";
    }

    private string ShowFlag(bool op1, bool op2)
    {
        return (op1, op2) switch
        {
            (false, false) => " ",
            (false, true) => "-",
            (true, false) => "-",
            (true, true) => "✓"
        };
    }
}