@using BouncyHsm.Spa.Services.Client
@inject IBouncyHsmClient bouncyHsmClient

<div class="row">
    <div class="col">
        <h2>Status</h2>
    </div>
</div>

@if (this.stats != null)
{
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
            <Card Name="Slots count"
              Value="@this.FormatNumber(this.stats.SlotCount)"
              IconClass="icon-Sim-Card-Chip" />
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
            <Card Name="Crypto objects"
              Value="@this.FormatNumber(this.stats.TotalObjectCount)"
              IconClass="icon-Inspection" />
        </div>

        <div class="col-xl-3 col-sm-6 col-12">
            <Card Name="Private keys"
              Value="@this.FormatNumber(this.stats.PrivateKeys)"
              IconClass="icon-Key-Security" />
        </div>

        <div class="col-xl-3 col-sm-6 col-12">
            <Card Name="X509 certificates"
              Value="@this.FormatNumber(this.stats.X509Certificates)"
              IconClass="icon-file-text2" />
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
            <Card Name="Connected apps"
              Value="@this.FormatNumber(this.stats.ConnectedApplications)"
              IconClass="icon-connection" />
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <Card Name="RO sessions"
              Value="@this.FormatNumber(this.stats.RoSessionCount)"
              IconClass="icon-radio-unchecked" />
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <Card Name="RW sessions"
              Value="@this.FormatNumber(this.stats.RwSessionCount)"
              IconClass="icon-radio-checked2" />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <LoadingIndicator />
        </div>
    </div>
}

@code {
    private OverviewStatsDto? stats = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Yield();
        this.stats = await this.bouncyHsmClient.GetOverviewStatsAsync();
    }

    private string FormatNumber(int value)
    {
        return value.ToString();
    }
}
