@page "/Slots/Detail/{Id:int}"
@using BouncyHsm.Client
@inject IBouncyHsmClient bouncyHsmClient
@inject NavigationManager Navigation

<PageTitle>Slot detail</PageTitle>

<h1>Slot detail</h1>

<div class="d-flex justify-content-end pb-3">
    <button type="button" class="btn btn-outline-primary btn-w-tm" @onclick="ReloadObjects"><span class="icon-Recurring-Appointment icon-1x"></span> Reload</button>
    <NavLink href="@($"Slots/{this.Id}/Pkcs")" class="btn btn-outline-primary btn-w-tm"><span class="icon-Approval icon-1x"></span> PKCS</NavLink>
    <DangerOperationBtn IconClass="icon-Full-Trash icon-1x"
                        Text="Remove"
                        AdditionalClass="btn-w-tm"
                        ConfirmText="@($"Remove slot '{this.Id}'?")"
                        OnConfirm="() => this.RemoveSlot()" />
</div>

<p>The following is a list of all the objects stored in the token.</p>

@if (this.storageObjectList == null)
{
    <BouncyHsm.Spa.Shared.Common.LoadingIndicator />
}
else
{
    <p>Slot contains @this.storageObjectList.Objects.Count objects.</p>
    @foreach (var obj in this.storageObjectList.Objects)
    {
        <div class="card mb-2">
            <div class="card-header">
                @obj.Description
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">

                    <div class="col-1 d-flex align-items-center">
                        <div class="align-self-center">
                            <StorageObjectIcon Cko="@obj.Type" AdditionalClass="icon-4x" />
                        </div>
                    </div>

                    <div class="col-9">
                        <table class="table table-borderless table-sm">
                            <colgroup>
                                <col class="col-1 col-sm-2 col-xs-3" />
                                <col class="col-10 col-sm-9 col-xs-7" />
                                <col class="col-1 col-sm-1 col-xs-2" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Type:</td>
                                    <td class="text-break">@obj.Type</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CkLabel:</td>
                                    <td class="text-break">@obj.CkLabel</td>
                                    <td><CopyBtn Text="@obj.CkLabel" /></td>
                                </tr>
                                <tr>
                                    <td>CkId (HEX):</td>
                                    <td class="text-break">@obj.CkIdHex</td>
                                    <td><CopyBtn Text="@obj.CkIdHex" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-2">
                        <NavLink href="@($"Slots/Detail/{this.Id}/object/{obj.Id}")" class="btn btn-outline-primary mb-1 btn-w-action"><span class="icon-zoom-in icon-1x"></span> Detail</NavLink>
                        <br />

                        <DangerOperationBtn IconClass="icon-Full-Trash icon-1x" 
                            Text="Remove"
                            AdditionalClass="btn-w-action"
                            ConfirmText="@($"Remove object '{obj.Description}' with label '{obj.CkLabel}'?")"
                            OnConfirm="() => this.RemoveObject(obj.Id)" />
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    private StorageObjectsListDto? storageObjectList = null;

    [Parameter]
    public int Id
    {
        get;
        set;
    }

    protected override async Task OnParametersSetAsync()
    {
        this.storageObjectList = await this.bouncyHsmClient.GetStorageObjectsAsync(this.Id, null, null);
    }

    private async Task ReloadObjects()
    {
        this.storageObjectList = null;
        await Task.Yield();
        this.storageObjectList = await this.bouncyHsmClient.GetStorageObjectsAsync(this.Id, null, null);
    }

    private async Task RemoveObject(Guid objectId)
    {
        await this.bouncyHsmClient.RemoveStorageObjectAsync(this.Id, objectId);
        await this.ReloadObjects();
    }

    private async Task RemoveSlot()
    {
        await this.bouncyHsmClient.DeleteSlotAsync(this.Id);
        this.Navigation.NavigateTo("Slots");
    }
}
