@page "/Slots/{SlotId:int}/Pkcs/GenerateSelfSignedCert/{PrivateKeyId:guid}/{PublicKeyId:guid}"
@using BouncyHsm.Spa.Pages.Pkcs;
@using BouncyHsm.Client
@using BouncyHsm.Spa.Utils;
@inject IBouncyHsmClient bouncyHsmClient
@inject ILogger<GenerateCsr> logger
@inject NavigationManager Navigation

<PageTitle>Generate self-signed certificate</PageTitle>

<h1>Generate self-signed certificate</h1>
<div class="row">
    <div class="col d-flex justify-content-end pb-3">
        <NavLink href="@($"Slots/Detail/{this.SlotId}")" class="btn btn-outline-primary btn-w-tm" ActiveClass=""><span class="icon-zoom-in icon-1x"></span> Slot</NavLink>
        <NavLink href="@($"Slots/{this.SlotId}/Pkcs")" class="btn btn-outline-primary btn-w-tm" ActiveClass=""><span class="icon-Approval icon-1x"></span> PKCS</NavLink>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p>Generate self-signed certificate for key pair <em>@label</em>.</p>

        @if (this.errorMessage != null)
        {
            <div class="mb-6">
                <BouncyHsm.Spa.Shared.Common.ErrorAlert Message="@this.errorMessage" />
            </div>
        }

        <EditForm EditContext="@editContext" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-1">
                <label for="i-ckalabel" class="form-label">Subject</label>
                <InputText id="i-ckalabel" class="form-control" @bind-Value="this.model.Subject" />
                <div class="form-text">Subject value eg. <code>CN=common name, C=SK, SERIALNUMBER=458965</code>.</div>
                <ValidationMessage For="() => this.model.Subject" />
            </div>

            <div class="mb-1">
                <label for="i-validity" class="form-label">Validity</label>
                <InputSelect class="form-select" @bind-Value="this.model.ValidityInDays" id="i-validity">
                    <option value="1">1 dayt</option>
                    <option value="3">3 days</option>
                    <option value="7">7 days</option>
                    <option value="31">31 days</option>
                    <option value="365">Year</option>
                    <option value="1095">3 years</option>
                    <option value="3650">10 years</option>
                </InputSelect>
                <ValidationMessage For="() => this.model.ValidityInDays" />
            </div>

            <div class="justify-content-end pt-4">
                <button type="submit" class="btn btn-primary"><span class="icon-plus icon-1x"></span> Generate</button>
            </div>
        </EditForm>

    </div>
</div>


@code {
    [Parameter]
    public int SlotId
    {
        get;
        set;
    }

    [Parameter]
    public Guid PrivateKeyId
    {
        get;
        set;
    }

    [Parameter]
    public Guid PublicKeyId
    {
        get;
        set;
    }

    private GenerateSelfSignedCertificateModel model = new GenerateSelfSignedCertificateModel()
        {
            ValidityInDays = "365"
        };

    private EditContext? editContext;
    private string? errorMessage = null;
    private string label = string.Empty;

    protected override void OnInitialized()
    {
        this.editContext = new EditContext(this.model);
    }

    protected override async Task OnParametersSetAsync()
    {
        var objectDetail = await this.bouncyHsmClient.GetStorageObjectAsync(this.SlotId, this.PrivateKeyId);
        string? label = objectDetail.Attributes.FirstOrDefault(t => t.AttributeType == "CKA_LABEL")?.ValueText;

        this.label = $"{label} ({objectDetail.Description})";
    }

    private async Task HandleSubmit()
    {
        this.errorMessage = null;
        await Task.Yield();

        try
        {
            _ = await this.bouncyHsmClient.Pkcs_GenerateSelfSignedCertAsync(this.SlotId, new GenerateSelfSignedCertRequestDto()
                {
                    PrivateKeyId = this.PrivateKeyId,
                    PublicKeyId = this.PublicKeyId,
                    Subject = new SubjectNameDto()
                    {
                        DirName = this.model.Subject,
                        OidValuePairs = null
                    },
                    Validity = this.ParseValidity(this.model.ValidityInDays)
                });

            this.Navigation.NavigateTo($"Slots/{this.SlotId}/Pkcs");
        }
        catch (ApiBouncyHsmException<ProblemDetails> ex)
        {
            this.errorMessage = ex.Result.Detail ?? "Unexcepred error.";
            this.logger.LogError(ex, "Error during call Pkcs_GetPkcsObjectsAsync.");
        }
    }

    private TimeSpan ParseValidity(string validity)
    {
        return TimeSpan.FromDays(int.Parse(validity));
    }
}
